<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdKXhC9fEi47oLQC96Li_AcntewOlYAGc</string>
	<key>GCM_SENDER_ID</key>
	<string>564244055435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jchocola.myChatApp</string>
	<key>PROJECT_ID</key>
	<string>kfuchatapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kfuchatapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564244055435:ios:a15afa0e0c8b3f55009b8e</string>
</dict>
</plist>